/Client_Side/a
/Client_Side/a.out
/Server Side/a
/Server Side/output
/Server Side/data.csv
/Client_Side/CMakeLists.txt
/Server Side/cmake-build-debug/
/Client_Side/cmake-build-debug/
/Server Side/CMakeLists.txt
